# User Configuration
USER_UID=1000
USER_GID=1000

# Paths
HOST_BAGS_PATH=~/bag/carles_squere/final_jazzy_mcap_filtered
HOST_MAPS_PATH=/home/seva/Projects/OPSEC/Charles_GPS

# [NEW] Default bagfile to play (must exist inside HOST_BAGS_PATH)
DEFAULT_BAG_FILENAME=final_jazzy_mcap_filtered_0.mcap
BAG_FILENAME=final_jazzy_mcap_filtered_0.mcap

# GPU
DISPLAY=:0